#   Strings

In [1]:
mystring = "Hello"
type(mystring)

str

In [2]:
mystring

'Hello'

In [3]:
print(mystring)

Hello

In [4]:
# built in Unicode Support
myfriend = "Jānis"
mycat = "Ņauva"
print(myfriend,mycat)

Jānis Ņauva

## Strings
* immutable
* Unicode support


* implement all common sequence operators
https://docs.python.org/3/library/stdtypes.html#typesseq-common

* string specific methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [10]:
name = "Valdis"
print(name)

Valdis

In [11]:
len(name)

6

In [12]:
name = "Voldemars"

In [13]:
len(name)

9

In [14]:
len("name")

4

In [15]:
len("Valdis")

6

In [18]:
# first character in your string
name[0],name[1],name[2]

('V', 'o', 'l')

In [19]:
"Valdis"[0]

'V'

In [20]:
name[2]

'l'

In [21]:
name[5]

'm'

In [22]:
name = "Valdis"

In [23]:
len(name)

6

In [24]:
name[5]

's'

In [25]:
#not a good pattern! anti-pattern a bad code smell
name[len(name)-1]

's'

In [26]:
name[-1]

's'

In [27]:
name[-2], name[4]

('i', 'i')

In [4]:
len(name)

6

In [28]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [ ]:
name[-1]

In [ ]:
name[-2]

In [31]:
name[-6]

'V'

In [32]:
name[6]

IndexError: string index out of range

In [33]:
empty = ""

In [34]:
empty[0]

IndexError: string index out of range

In [35]:
# Slicing syntax
# Start at 0 an go until but not including 3
# some languages would do with name.subslice(0,3)
name[0:3]

'Val'

In [36]:
# begginning 0 is not necessary
name[:3]

'Val'

In [37]:
name[:4]

'Vald'

In [38]:
name[1:3] # so 2nd and 3rd(with index 2) but not the 4th(with index 3)

'al'

In [39]:
name[1:4]

'ald'

In [44]:
name[-3], name[-3:-1], name[-3:]

('d', 'di', 'dis')

In [ ]:
# so we can use single index for single characters
# [start:beg] for range of characters
# [starg:beg:step] for jumping over characters

In [47]:
name[0:6:2], name[:6:2],name[::2]

('Vli', 'Vli', 'Vli')

In [27]:
name, name[0:6:1], name[::]

('Valdis', 'Valdis', 'Valdis')

In [48]:
food = "potatoes"
food[::2]

'ptte'

In [49]:
food[1::2]

'oaos'

In [51]:
food[1:6:2]

'oao'

In [31]:
name[::1]

'Valdis'

In [32]:
name[1:6:2]

'ads'

In [33]:
name[:5]

'Valdi'

In [ ]:
# Pythonic way of reersing a string

In [52]:
name[::-1]

'sidlaV'

In [53]:
food[::-1]

'seotatop'

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [55]:
myfood = "ice cream"
myfood[2]

'e'

In [56]:
myfood[:2], myfood[-3:]

('ic', 'eam')

In [57]:
myfood[::-1],myfood[::-2]

('maerc eci', 'mecei')

In [37]:
food[4::-1]

'utrak'

In [38]:
name[5:2:-1]

'sid'

In [ ]:
# Remember stings are immutable, so how do we change them

In [58]:
name[3]='b'

TypeError: 'str' object does not support item assignment

In [68]:
#name[3]="b" # Can we do this?
newname=name[:3]+"z"+name[4:]
print(newname)

Valzis

In [60]:
#name[3]="b" # Can we do this?
newname=name[:3]+"z"+name[3:]
print(newname)

Valzdis

In [62]:
# so an answer is string concatenation with +
mycat = "kaķis" + " Muris"
mycat

'kaķis Muris'

In [63]:
len(mycat)

11

In [64]:
n=name
n2=name
print(n2)
print(id(n2),id(name), id(n))
print(name[:])

Valdis
2205798161008 2205798161008 2205798161008
Valdis

In [65]:
name == n2

True

In [69]:
name == newname[:3] + 'd' + newname[4:]

True

In [70]:
newname[:3] + 'd' + newname[4:]

'Valdis'

In [46]:
name = "Voldemars"
print(n,n2,name)

Valdis Valdis Voldemars

In [47]:
n2 = "Something"

In [48]:
name=name[::-1]
print(name)

sramedloV

In [71]:
newline_string ="firstline\nsecondline"
print(newline_string)

firstline
secondline

In [73]:
newline_string

'firstline\nsecondline'

In [74]:
# in Python single and double quotes work the same way, you just need a matching pair

In [75]:
quote = "Alice told the rabbit 'go down the hole' and rabbit complied"
print(quote)

Alice told the rabbit 'go down the hole' and rabbit complied

In [77]:
quote = "Alice told the rabbit \"go down the hole\" and rabbit complied"
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

In [79]:
quote = 'Alice told the rabbit "go down the hole" and rabbit complied'
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

In [81]:
multi_string = """Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on \"\"\"
String"""
print(multi_string)

Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on """
String

In [82]:
mytext = 'Just a quote'
mytext

'Just a quote'

In [83]:
myquote = 'They said "It was a long and stormy night" ending the story'
myquote

'They said "It was a long and stormy night" ending the story'

In [84]:
myquote = "Another quote\"Stormy night\" continuing the story"
myquote

'Another quote"Stormy night" continuing the story'

In [85]:
"Valdis" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# the answer is casting number to string beforehand

In [90]:
"Valdis " + str(5),"Valdis " + '5'

('Valdis 5', 'Valdis 5')

In [91]:
a=10
t="Talk "+str(a)
print(t)

Talk 10

In [92]:
t = "Talk "+"10"
print(t)

Talk 10

In [93]:
str(555)

'555'

In [58]:
id('25'),id(25)

(2814172811480, 140711459395136)

In [94]:
'25'+'45',25+45

('2545', 70)

In [95]:
int('345')

345

In [96]:
int("70")

70

In [97]:
int('70')

70

In [ ]:
?str

In [99]:
much_beer = "Beer"*5 # i can multiple strings this could come in handy in homework #1
much_beer

'BeerBeerBeerBeerBeer'

In [100]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [101]:
print("It's \ta \"wonderful\" \nlife")

It's 	a "wonderful"
life

In [102]:
# How to print a line which does not fit in a single line
print('Really really long line\
   mVW')

Really really long line   mVW

In [103]:
print('Alice said "hello"')

Alice said "hello"

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [104]:
newstr = f"2+2={2+2} nice isn't {name[::-1]*3}"
newstr

"2+2=4 nice isn't sidlaVsidlaVsidlaV"

In [105]:
# actual real usage
weekday="Tuesday"
month="October"
day=13
greeting = f"Today is {day}th of {month} which is {weekday}. Nice {month} isn't it ? "
print(greeting)
#nicer than format method

Today is 13th of October which is Tuesday. Nice October isn't it ?

In [ ]:
# notice how I did not have to cast 13 to str(13) in the above example

In [107]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=4 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{9}.{6}} seconds since start of new era')
print(f'Number {75556.2222:{12}.{8}}')

Elapsed 345.24556 seconds since start of new era
Elapsed                            345.2 seconds since start of new era
Elapsed   345.246 seconds since start of new era
Number    75556.222

In [108]:
myresult = f"0.1+0.2={0.1+0.2:{4}.{4}}"
myresult

'0.1+0.2= 0.3'

In [109]:
greeting[10:33:1] # you can always get a slice from a string

'3th of October which is'

In [110]:
my_hello = f"Hello {name}, nice day isn't day for a walk?"
print(my_hello)

Hello Valdis, nice day isn't day for a walk?

### Python 3.X strings are Unicode by default no more 'u prefixes

In [111]:
myfood = "porridge"

In [87]:
myfood

'putra'

In [88]:
myfood[2]

't'

In [89]:
myfood[:2]

'pu'

In [90]:
myfood[-3:]

'tra'

In [91]:
myfood[::-1]

'artup'

In [92]:
myfood[::-2]

'atp'

In [112]:
bigfood = myfood.capitalize() # i pressed tab after . and saw all kind of methods I can apply to my string
bigfood

'Porridge'

In [113]:
myfood.capitalize() # note that capitilize DOES NOT change the string, it makes a new one

'Porridge'

In [114]:
# count the number of occurences in a string
myfood.count('r')

2

In [116]:
# count the number of occurences in a string
myfood.count('idg')

1

In [117]:
myfood.count('a')

0

In [118]:
# if you just want to check whether there are any specific characters in your string
'u' in myfood

False

In [119]:
'o' in myfood

True

In [120]:
'C' in myfood

False

In [121]:
# we can check for substring in our string
'rid' in myfood

True

In [122]:
# we can check for substring in our string
'put' in bigfood

False

In [123]:
'somethinglongthatisnot' in myfood

False

In [125]:
# find first index of where the substring starts in our string
# remember we count from 0!
myfood.index('rid')

3

In [126]:
myfood.find('notfound') # so find gives you -1 if not found while index gives you error if not found

-1

In [127]:
myfood.find('rid')

3

In [128]:
myfood[myfood.index('rid'):] # so find where rid starts and give me the rest of the string

'ridge'

In [129]:
myfood.upper()

'PORRIDGE'

In [130]:
name[0:6:1]

'Valdis'

In [131]:
name.lower()

'valdis'

In [132]:
name.isdecimal()

False

In [133]:
"55555".isdecimal()

True

In [ ]:
# ourstring. then use Tab to see what functions/methods are available
# methods/functions use parenthesis "Valdis".upper()

# What about looping through our strings?

In [136]:
for c in name:
    print(c)
    print(c.upper())
    print(f"Letter {c=}") # this is new to python 3.8+ so will not work on python 3.7

V
V
Letter c='V'
a
A
Letter c='a'
l
L
Letter c='l'
d
D
Letter c='d'
i
I
Letter c='i'
s
S
Letter c='s'

In [137]:
print(f"My variable {name=}")

My variable name='Valdis'

In [ ]:
# tiny practice 
# print only letters in your name less than "i" and make them uppercase

In [142]:
limit = "i"
result = ""
print(f"Our {limit=} code is {ord(limit)}")
for c in name:
    print(f"{c=} code is {ord(c)}")
    if c.lower() < limit:
        print(c)
        result += c 
        # it is same as saying result = result + c, we make a new string overwriting the old one
        # for very long strings this could get pretty slow ( i am talking huuuge strings)

Our limit='i' code is 105
c='V' code is 86
c='a' code is 97
a
c='l' code is 108
c='d' code is 100
d
c='i' code is 105
c='s' code is 115

In [143]:
print(result)

ad

In [144]:
result.upper()

'AD'

In [145]:
mycity = "    Riga \t\n "
mycity

'    Riga \t\n '

In [146]:
clean_city = mycity.strip() # so whitespace are any non character symbols
clean_city

'Riga'

In [148]:
myfood = "chocolate ice cream sunday"
myfood

'chocolate ice cream sunday'

In [149]:
myfood.capitalize(), myfood.title()

('Chocolate ice cream sunday', 'Chocolate Ice Cream Sunday')

In [150]:
min(name)

'V'

In [151]:
max(name) #the character with the highest ASCII value in the string

's'

In [152]:
min(myfood)

' '

In [153]:
max(myfood)

'y'