# Sets

## Sets

* unordered
* uniques only - great for getting unique items out of some collection
* curly braces {3, 6, 7}

In [2]:
s = {3,3,6,1,3,6,7} # so curly braces are also used for a set not only a dictionary
print(s)

{1, 3, 6, 7}

In [7]:
nset = set((3,3,6,1,3,6,7)) # alternative is to use set which takes an iterable
nset

{1, 3, 6, 7}

In [1]:
num_set = set([1,2,6,2,7,2,1]) # could pass a list
num_set

{1, 2, 6, 7}

In [2]:
a = set("ķiļķēni un klimpas") # takes a sequence so string qualifies
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [9]:
b = {"abracadbra","abba", "dubba", "abba",56,7,2,12,2,2,1,1}
b

{1, 12, 2, 56, 7, 'abba', 'abracadbra', 'dubba'}

In [8]:
bset = set(["abracadbra","abba", "dubba", "abba"])
bset

{'abba', 'abracadbra', 'dubba'}

In [4]:
aset = set("abracadbra")
aset

{'a', 'b', 'c', 'd', 'r'}

In [5]:
for c in aset: # notice no guarantee on order
    print(c)

a
b
d
c
r

In [12]:
# this lookup is very quick even for large sets
'a' in aset, 'b' in aset, 'f' in aset

(True, True, False)

In [6]:
mylist = sorted(aset) # sorted gives you a list
mylist

['a', 'b', 'c', 'd', 'r']

In [13]:
# list lookup is linear so much slower for large data list > 10_000 and so on
'a' in mylist, 'b' in mylist, 'f' in mylist

(True, True, False)

In [8]:
type(s)

set

In [14]:
a

{' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ'}

In [15]:
myletters = list(a)
myletters

['a', 'p', 'ē', 'u', 'ļ', 'n', 'm', ' ', 's', 'l', 'i', 'ķ', 'k']

In [16]:
"|".join(sorted(a)) # you can join with any character even blank space
# notice that sorting is using Unicode chr values so Latvian letters are after English
# TODO sort it locale specific way

' |a|i|k|l|m|n|p|s|u|ē|ķ|ļ'

In [5]:
myletters[:3]

['a', 'ķ', 'u']

In [6]:
al = list(a)
al

['a', 'ķ', 'u', 'l', 'm', 'n', 'p', 's', ' ', 'ē', 'ļ', 'i', 'k']

In [7]:
sorted(al)

[' ', 'a', 'i', 'k', 'l', 'm', 'n', 'p', 's', 'u', 'ē', 'ķ', 'ļ']

In [21]:
s = {1,2,65,2,6,3}
s

{1, 2, 3, 6, 65}

In [17]:
nset = set(range(10))
nset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
type(s)

NameError: name 's' is not defined

In [22]:
s.issubset(nset)

False

In [23]:
n_3_7 = set(range(3,8))
n_3_7

{3, 4, 5, 6, 7}

In [24]:
n_3_7.issubset(nset)

True

In [25]:
# Alternative syntax
n_3_7 < nset # strong subset meaning n_3_7 can't be equal to nset

True

In [28]:
n_3_7 <= nset

True

In [26]:
nset < nset

False

In [27]:
nset <= nset

True

In [29]:
nset.issuperset(s)

False

In [30]:
nset, s

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 2, 3, 6, 65})

In [31]:
s.remove(65) # we can remove elements
s

{1, 2, 3, 6}

In [33]:
nset, s

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 2, 3, 6})

In [32]:
nset.issuperset(s)

True

In [35]:
nset > s, nset >= s, nset < s

(True, True, False)

In [16]:
s.issuperset(range(6))

False

In [18]:
nset.issuperset(range(6))

True

In [36]:
n_5_9 = set(range(5,10))
n_5_9

{5, 6, 7, 8, 9}

In [37]:
n_3_7.union(n_5_9)

{3, 4, 5, 6, 7, 8, 9}

In [39]:
# shorter union syntax is 
n_3_7 | n_5_9 # means we make a new set out of ALL elements of the two sets

{3, 4, 5, 6, 7, 8, 9}

In [40]:
n_3_7.intersection(n_5_9)

{5, 6, 7}

In [41]:
n_3_7 & n_5_9 # same as intersection above so only elements in BOTH sets

{5, 6, 7}

In [43]:
n_5_7 = n_3_7 & n_5_9
n_5_7

{5, 6, 7}

In [44]:
n_5_7 = n_3_7 & n_5_9 & nset # nset is 0 to 9
n_5_7

{5, 6, 7}

In [46]:
n_5_6 = n_3_7 & n_5_9 & set(range(7)) # range goes to 6
n_5_6 # only 5 and 6 is in ALL 3 sets

{5, 6}

In [48]:
n_3_7.difference(n_5_9) # only elements unique to left side

{3, 4}

In [50]:
n_3_7 - n_5_9, n_5_9 - n_3_7 # so - is syntactic sugar to the difference

({3, 4}, {8, 9})

In [51]:
n_3_7.symmetric_difference(n_5_9) # only elements unique either side

{3, 4, 8, 9}

In [52]:
n_3_7 ^ n_5_9 # ^ is short for .symmetric_difference

{3, 4, 8, 9}

In [53]:
s

{1, 2, 3, 6}

In [54]:
# we can update with many differnt data types
s.update({3,3,6,2,7,9},range(4,15), [3,6,7,"Valdis", "Badac"])
s

{1, 10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 8, 9, 'Badac', 'Valdis'}

In [213]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [55]:
# we can check if our set has anything in common with anohther data structures
n_3_7.isdisjoint(n_5_9) # False because sets do intersect with 5,6,7

False

In [ ]:
# so Sets use them to obtain  unique elements 
# then can convert back to other data structures