# RTU Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [1]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
type(groceries)

list

In [7]:
emptylist = [] # so this could be used to add some items later on
len(emptylist)

0

In [4]:
len(groceries)

3

In [5]:
# checking for existance
'Bread' in groceries

True

In [6]:
'Chocolate' in groceries

False

In [10]:
food = "My breadsticks"
"read" in food # I was checking for substring in a string

True

In [11]:
"read" in groceries # so when checking for existance in a list it has to an exact match, so we will need a loop to find inexact matches

False

In [12]:
'Apples'  in groceries

False

In [13]:
# we can call a list conversion a a string
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [14]:
print(list(food))

['M', 'y', ' ', 'b', 'r', 'e', 'a', 'd', 's', 't', 'i', 'c', 'k', 's']

In [15]:
list(5) # this will be an error why? because 5 is not an iterable sequence

TypeError: 'int' object is not iterable

In [16]:
list("V") # so we get a list with single item - string with one character

['V']

In [17]:
name_list[3] # so very similar to string indexing and slicing

'd'

In [18]:
groceries[0]

'Bread'

In [19]:
groceries[1]

'Eggs'

In [20]:
groceries[2]

'Milk'

In [21]:
groceries[3]

IndexError: list index out of range

In [22]:
name = "Valdis" # just a string
name_list, name

(['V', 'a', 'l', 'd', 'i', 's'], 'Valdis')

In [26]:
name_list[3]='bubu' # unlike strings we can mutate contents of list
print(name_list)

['V', 'a', 'l', 'bubu', 'i', 's']

In [27]:
# this will not work as expected
str(name_list)

"['V', 'a', 'l', 'bubu', 'i', 's']"

In [28]:
# We can join the list back into a string 
# by using an empty string and joining our list
new_name = "".join(name_list)
new_name

'Valbubuis'

In [29]:
":|:".join(name_list)

'V:|:a:|:l:|:bubu:|:i:|:s'

In [30]:
groceries[:2]

['Bread', 'Eggs']

In [31]:
groceries[-2:]

['Eggs', 'Milk']

In [32]:
groceries += ["Chocolate"] # in effect i am saying groceries = groceries + ["Chocolate""]
# I need ["something"] because I am adding list
# += is OUT OF PLACE addition, meaning I am returing the result so I need to store it into something
# this something could be the same variable could be a new one
groceries

['Bread', 'Eggs', 'Milk', 'Chocolate']

In [33]:
groceries.append("Kefir") # this is IN PLACE meaning groceries modified
groceries

['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir']

In [34]:
groceries += ["Water", "Candy"] #OUT OF PLACE addition
groceries

['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy']

In [35]:
groceries.extend("Valdis") # this will NOT add my name it will add my characters!!!
groceries

['Bread',
 'Eggs',
 'Milk',
 'Chocolate',
 'Kefir',
 'Water',
 'Candy',
 'V',
 'a',
 'l',
 'd',
 'i',
 's']

In [36]:
groceries.index("Kefir")

4

In [38]:
groceries.index("V")

7

In [39]:
clean_groceries = groceries[:7] # so i want only items from original grocerie list up to but NOT including 7 (8th item)
clean_groceries

['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy']

In [40]:
clean_groceries[::-1]

['Candy', 'Water', 'Kefir', 'Chocolate', 'Milk', 'Eggs', 'Bread']

In [41]:
clean_groceries[::2]

['Bread', 'Milk', 'Kefir', 'Candy']

In [58]:
# we can  mix and match types, if need be 
# generally best if we sting to same types inside our list
clean_groceries.append(5000)
clean_groceries

['Bread', 'Eggs', 'Milk', 'Kefir', 'Water', 'Candy', 5000]

In [43]:
clean_groceries.remove('Chocolate') # IN PLACE modifies clean_groceries
clean_groceries

['Bread', 'Eggs', 'Milk', 'Kefir', 'Water', 'Candy', 5000]

In [59]:
clean_groceries.remove(5000) # for multiple removas a loop would be better or even better list comprehension
clean_groceries

['Bread', 'Eggs', 'Milk', 'Kefir', 'Water', 'Candy']

In [62]:
groceries = groceries[:7] # common way of removing items from some list
groceries

['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy']

In [63]:
# here I create a copy of a list
list_copy=list(groceries) # alternative would be list_copy = groceries[:] # meaning we make a copy of everything
print(list_copy, id(list_copy), id(groceries))

['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy'] 1850659137344 1850658386880

In [64]:
# here I just point another variable at the SAME list
glist2=groceries # just a shortcut to groceries
print(id(glist2),id(groceries),id(list_copy))

1850658386880 1850658386880 1850659137344

In [65]:
groceries[2] = "Chocolate"
groceries, glist2, list_copy

(['Bread', 'Eggs', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Bread', 'Eggs', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy'])

In [66]:
glist2[1] = "Milk"
groceries, glist2, list_copy

(['Bread', 'Milk', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Bread', 'Milk', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Bread', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy'])

In [67]:
list_copy[0] = "Potatoes"
groceries, glist2, list_copy

(['Bread', 'Milk', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Bread', 'Milk', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy'],
 ['Potatoes', 'Eggs', 'Milk', 'Chocolate', 'Kefir', 'Water', 'Candy'])

In [68]:
list_copy == groceries # this check for contents not the actualy memory

False

In [27]:
list_3 = ['Potatoes', 'Eggs', 'Milk']
list_3 == list_copy, list_3 is list_copy

(True, False)

In [28]:
id(list_copy), id(list_3) # different memory addresses

(2346169306112, 2346168541120)

In [29]:
groceries

['Bread', 'Milk', 'Chocolate']

In [31]:
glist = list_copy # so I created a new alias for my list_copy
glist is list_copy

True

In [40]:
# We can add new elements with append
glist.append('Peaches') # IN PLACE addition of element
# IN PLACE means the collection is changed (generally NOT returned)
glist

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [33]:
groceries

['Bread', 'Milk', 'Chocolate']

In [41]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [42]:
# we cut down our list using slicing syntax
glist = glist[:4] # remember our slicing syntax from last week
glist

['Potatoes', 'Eggs', 'Milk', 'Peaches']

In [ ]:
groceries

In [ ]:
glist == groceries

In [43]:
# new clear list
glist = []

In [44]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [45]:
len(glist)

0

In [69]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [70]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [71]:
print(len(glist))
glist.clear() # IN PLACE again! so list is cleared
print(len(glist))

4
0

In [72]:
glist

[]

In [73]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [75]:
# In Place reversal
glist.reverse() # so glist is modified
print(glist)

['Bread', 'Milk', 'Cookies', 'Chocolate']

In [76]:
# save the new reversed list in variable reversedlist
reversedlist = glist[::-1] # we can store result in new list, but keep the old one
reversedlist

['Chocolate', 'Cookies', 'Milk', 'Bread']

In [77]:
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Chocolate', 'Cookies', 'Milk', 'Bread'])

In [79]:
glist = reversedlist[::-1]
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Chocolate', 'Cookies', 'Milk', 'Bread'])

In [54]:
glist = glist[::-1]
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [80]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
lastelem = glist.pop() # IN PLACE removal of LAST element, and return of this last element
print(lastelem)
print(glist)

Chocolate
['Bread', 'Milk', 'Cookies']

In [81]:
lastelem = glist.pop() # IN PLACE removal of LAST element, and return of this last element
print(lastelem)
print(glist)

Cookies
['Bread', 'Milk']

In [82]:
# make a blank list
newlist = []

In [83]:
nlist = [1,2,3,4,5,6] #this can get boring fast...
nlist

[1, 2, 3, 4, 5, 6]

In [84]:
f20 = list(range(20)) # remember range starts at 0 and goes to n-1
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [88]:
x = list(range(0,51,3))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [89]:
# Lists can take any number of data types
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [91]:
innerlist = mylist[4]
innerlist # so innerlist is a shortcuyt to mylist[4]

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [92]:
inner_inner_list = innerlist[5] # or innerlist[-1]
inner_inner_list

[3, "wo'w"]

In [93]:
i_list = innerlist[-1]
i_list

[3, "wo'w"]

In [94]:
last_list  = i_list[-1] # here list3[1] would work as well
last_list

"wo'w"

In [95]:
my_letter = last_list[1]
my_letter

'o'

In [97]:
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [96]:
mylist[4][-1][-1][1]

'o'

In [98]:
mylist[4][5][1][1], mylist[4][5][1][-3]

('o', 'o')

In [99]:
len(mylist)

7

In [ ]:
x=list(range(1,11))
x

In [79]:
glist

['Bread', 'Milk', 'Cookies']

In [80]:
# adding more items by making new list
glist += ["Pasta", "Cereal", "Water"] # it is same as saying glist = glist + ["Pasta", "Cereal", "Water"]
# so += is out of place , unlike mylist.append() method
glist

['Bread', 'Milk', 'Cookies', 'Pasta', 'Cereal', 'Water']

In [81]:
glist.append(["Booze", "Candy"])
glist

['Bread', 'Milk', 'Cookies', 'Pasta', 'Cereal', 'Water', ['Booze', 'Candy']]

In [82]:
glist.extend(["Beer", "Chips"]) # so extend works similarl to += it flattens the new items
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [83]:
glist.count("Pasta")

1

In [84]:
glist.index("Paste")

ValueError: 'Paste' is not in list

In [85]:
glist.index("Pasta")

3

In [100]:
glist

['Bread', 'Milk']

In [101]:
glist = glist * 3 # we can in fact multiply lists by numbers to m ake a copy with some number of elements
glist

['Bread', 'Milk', 'Bread', 'Milk', 'Bread', 'Milk']

In [102]:
glist.insert(4, "Tomato Sauce") # so it will insert before 5th element (with index 4)
glist

['Bread', 'Milk', 'Bread', 'Milk', 'Tomato Sauce', 'Bread', 'Milk']

In [103]:
glist[4]

'Tomato Sauce'

In [ ]:
# for large lists insert might not be very fast

In [104]:
glist.remove("No idea what to remove")

ValueError: list.remove(x): x not in list

In [105]:
glist.remove("Tomato Sauce") # we got rid of first tomatoe sauce occurence
glist

['Bread', 'Milk', 'Bread', 'Milk', 'Bread', 'Milk']

In [106]:
# You can only sort list that have same data types or types that can be compared like int and float
glist.sort() # this is in place and will be numeric, or lexicographical sort
glist

['Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk']

In [107]:
glist = glist[:7] # no error even on shorter list
glist

['Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk']

In [108]:
glist.append("Olive Oil")
glist

['Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk', 'Olive Oil']

In [110]:
glist.append("Apples")
glist

['Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk', 'Olive Oil', 'Apples']

In [111]:
glist.sort()
glist

['Apples', 'Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk', 'Olive Oil']

In [112]:
glist.sort(reverse = True) # again sort is in place
glist

['Olive Oil', 'Milk', 'Milk', 'Milk', 'Bread', 'Bread', 'Bread', 'Apples']

In [113]:
new_list = sorted(glist) # so sorted is OUT OF PLACE, returns new sorted something
new_list

['Apples', 'Bread', 'Bread', 'Bread', 'Milk', 'Milk', 'Milk', 'Olive Oil']

In [114]:
glist

['Olive Oil', 'Milk', 'Milk', 'Milk', 'Bread', 'Bread', 'Bread', 'Apples']

In [46]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [115]:
# Mini exercise
# give me a list of squares of names from 1 to 10 [1,4,9....,100]
results = []
# write a for loop and append something to results
for n in range(1,11):
    results.append(n**2)
print(results)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# List Comprehension
### There is an shorter way to do the above creation of list of squares

In [116]:
sq_list = [n*n for n in range(1,11)]
print(sq_list)
# List comprehensions! A shorter way to do the above list creations 
# Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [118]:
sum(x),sum(sq_list)

(55, 385)

In [119]:
len(x),len(sq_list)

(10, 10)

In [120]:
min(x), min(sq_list)

(1, 1)

In [121]:
max(x), max(sq_list)

(10, 100)

In [122]:
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [124]:
x+sq_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [125]:
z=(x+sq_list)*3 # so we create a list of (10+10 )* 3 elements

In [126]:
len(z)

60

In [127]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100]

In [128]:
tmp = sq_list*2
print(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
len(tmp)

20

In [130]:
tmp[3:18:3]

[16, 49, 100, 9, 36]

In [131]:
25 in tmp

True

In [132]:
66 in tmp

False

In [133]:
"Valdis" in tmp

False

In [ ]:
tmp[::-1]

In [ ]:
tmp[3:98:2]

In [134]:
groceries

['Bread', 'Milk', 'Chocolate', 'Chocolate', 'Kefir', 'Water', 'Candy']

In [135]:
groceries.append("Cherry Cola")
groceries

['Bread',
 'Milk',
 'Chocolate',
 'Chocolate',
 'Kefir',
 'Water',
 'Candy',
 'Cherry Cola']

In [136]:
results = []
needle = "cola"
for item in groceries:
    if needle in item:
        results.append(item)
results

['Chocolate', 'Chocolate']

In [137]:
# if we want to check for needle no matter the case
results = []
needle = "cola"
for item in groceries:
    if needle.lower() in item.lower(): # we normalize both sides to something, could be upper()
        results.append(item)
results

['Chocolate', 'Chocolate', 'Cherry Cola']

In [140]:
needle

'cola'

In [141]:
# List comprehension of the above
ola_list = [item for item in groceries if needle.lower() in item.lower()] # this is full list comprehension example
ola_list

['Chocolate', 'Chocolate', 'Cherry Cola']

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [ ]:
y

In [ ]:
y.insert(0, 33)
y

In [ ]:
# inserting before 7th element
y.insert(6, 33)
y

In [ ]:
55 in y

In [ ]:
33 in y

In [ ]:
y

In [ ]:
y.index(16)

In [ ]:
y[4]

In [ ]:
y.index(33), y[0]

In [ ]:
# y.remove(33)
y.remove(33)
y

In [ ]:
a = 5
a = a + 10
a

In [ ]:
a += 10 # same as a = a + 10
a

In [ ]:
y+=[11, -22, 66] # same as y = y + [11, -22, 66]
y

In [ ]:
y.append([11, -22, 66])
y

In [ ]:
y = y[:-3]
y

In [ ]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

In [ ]:
y

In [ ]:
y.sort()
y

In [ ]:
y.reverse()
y

In [ ]:
x=y[::-1]
x

In [ ]:
x[5]

In [ ]:
z=x.pop(5)
print(x, z)

In [ ]:
x.insert(5, z)
x

In [ ]:
x.count(33)

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [110]:
mylist = list(range(5,16))
mylist

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [111]:
mylist[:4]

[5, 6, 7, 8]

In [112]:
mylist[-3:]

[13, 14, 15]

In [113]:
mylist[-1:-4:-1]

[15, 14, 13]

In [114]:
sum(mylist)/len(mylist) # arithmetic average

10.0

In [115]:
groceries

['Bread', 'Milk', 'Chocolate']

In [116]:
groceries += ["Brown Bread", "Chococolate Bread", "Rye Bread"]
groceries

['Bread', 'Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [117]:
groceries = groceries[1:] # get rid of the 1st element
groceries

['Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [118]:
"Bread" in groceries

False

In [119]:
found_list = []
key = "Bread"
for item in groceries:
    if "Bread" in item:
        found_list.append(item)
found_list

['Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [120]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk']

In [121]:
groceries.append("Silken herring") # I dont think there is such a herring ...

In [122]:
groceries

['Milk',
 'Chocolate',
 'Brown Bread',
 'Chococolate Bread',
 'Rye Bread',
 'Silken herring']

In [123]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk', 'Silken herring']

In [143]:
# I need a list if I am going to add something to this list
some_list = [-555] # i could start with empty list or have something already inside
for n in range(10):
    some_list.append(n) # will be error because some_list is not yet created
some_list

[-555, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]