# RTU Lists
## Useful Jupyter Commands

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [1]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [2]:
type(groceries)

list

In [3]:
emptylist = []
len(emptylist)

0

In [4]:
# checking for existance
'Bread' in groceries

True

In [5]:
food = "My breadsticks"
"bread" in food

True

In [7]:
"read" in groceries # so when checking for existance in a list it has to an exact match, so we will need a loop to find inexact matches

False

In [6]:
'Apples'  in groceries

False

In [8]:
# we can call a list conversion a a string
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [9]:
print(list(food))

['M', 'y', ' ', 'b', 'r', 'e', 'a', 'd', 's', 't', 'i', 'c', 'k', 's']

In [10]:
list(5) # this will be an error why? because 5 is not an iterable sequence

TypeError: 'int' object is not iterable

In [11]:
list("V") # so we get a list with single item - string with one character

['V']

In [12]:
name_list[3]

'd'

In [13]:
name_list[3]='b' # unlike strings we can mutate contents of list
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [14]:
# this will not work as expected
str(name_list)

"['V', 'a', 'l', 'b', 'i', 's']"

In [15]:
# We can join the list back into a string 
# by using an empty string and joining our list
"".join(name_list)

'Valbis'

In [16]:
":|:".join(name_list)

'V:|:a:|:l:|:b:|:i:|:s'

In [17]:
# here I create a copy of a list
list_copy=list(groceries)
print(list_copy, id(list_copy), id(groceries))

['Bread', 'Eggs', 'Milk'] 2346169306112 2346168119680

In [19]:
# here I just point another variable at the SAME list
glist2=groceries
print(id(glist2),id(groceries),id(list_copy))

2346168119680 2346168119680 2346169306112

In [21]:
groceries[2] = "Chocolate"
groceries, glist2, list_copy

(['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [22]:
glist2[1] = "Milk"
groceries, glist2, list_copy

(['Bread', 'Milk', 'Chocolate'],
 ['Bread', 'Milk', 'Chocolate'],
 ['Bread', 'Eggs', 'Milk'])

In [23]:
list_copy[0] = "Potatoes"
groceries, glist2, list_copy

(['Bread', 'Milk', 'Chocolate'],
 ['Bread', 'Milk', 'Chocolate'],
 ['Potatoes', 'Eggs', 'Milk'])

In [25]:
list_copy == groceries # this check for contents not the actualy memory

False

In [27]:
list_3 = ['Potatoes', 'Eggs', 'Milk']
list_3 == list_copy, list_3 is list_copy

(True, False)

In [28]:
id(list_copy), id(list_3) # different memory addresses

(2346169306112, 2346168541120)

In [29]:
groceries

['Bread', 'Milk', 'Chocolate']

In [31]:
glist = list_copy # so I created a new alias for my list_copy
glist is list_copy

True

In [40]:
# We can add new elements with append
glist.append('Peaches') # IN PLACE addition of element
# IN PLACE means the collection is changed (generally NOT returned)
glist

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [33]:
groceries

['Bread', 'Milk', 'Chocolate']

In [41]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [42]:
# we cut down our list using slicing syntax
glist = glist[:4] # remember our slicing syntax from last week
glist

['Potatoes', 'Eggs', 'Milk', 'Peaches']

In [ ]:
groceries

In [ ]:
glist == groceries

In [43]:
# new clear list
glist = []

In [44]:
list_copy

['Potatoes',
 'Eggs',
 'Milk',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches',
 'Peaches']

In [45]:
len(glist)

0

In [46]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [47]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [48]:
print(len(glist))
glist.clear() # IN PLACE again! so list is cleared
print(len(glist))

4
0

In [49]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [50]:
# In Place reversal
glist.reverse()
print(glist)

['Chocolate', 'Cookies', 'Milk', 'Bread']

In [51]:
# save the new reversed list in variable reversedlist
reversedlist = glist[::-1] # we can store result in new list, but keep the old one
reversedlist

['Bread', 'Milk', 'Cookies', 'Chocolate']

In [52]:
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [53]:
glist = reversedlist[::-1]
glist, reversedlist

(['Chocolate', 'Cookies', 'Milk', 'Bread'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [54]:
glist = glist[::-1]
glist, reversedlist

(['Bread', 'Milk', 'Cookies', 'Chocolate'],
 ['Bread', 'Milk', 'Cookies', 'Chocolate'])

In [65]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
lastelem = glist.pop() # IN PLACE removal of LAST element, and return of this last element
print(lastelem)
print(glist)

Chocolate
['Bread', 'Milk', 'Cookies']

In [66]:
# make a blank list
newlist = []

In [ ]:
nlist = [1,2,3,4,5,6] #this can get boring fast...
nlist

In [67]:
f20 = list(range(20)) # remember range starts at 0 and goes to n-1
f20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [68]:
f20 = list(range(1,21))
f20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [69]:
x = list(range(0,51,3))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [70]:
# Lists can take any number of data types
mylist = [1,2,5, "Valdis", ["Bread", "milk", 3, 6, 2.77, [3, "wo'w"]], ["anotherlist", 2,3], "just sometext"]
mylist

[1,
 2,
 5,
 'Valdis',
 ['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]],
 ['anotherlist', 2, 3],
 'just sometext']

In [71]:
innerlist = mylist[4]
innerlist

['Bread', 'milk', 3, 6, 2.77, [3, "wo'w"]]

In [72]:
inner_inner_list = innerlist[5]
inner_inner_list

[3, "wo'w"]

In [73]:
i_list = innerlist[-1]
i_list

[3, "wo'w"]

In [74]:
last_list  = i_list[-1] # here list3[1] would work as well
last_list

"wo'w"

In [75]:
my_letter = last_list[1]
my_letter

'o'

In [76]:
mylist[4][-1][-1][1]

'o'

In [78]:
mylist[4][5][1][1], mylist[4][5][1][-3]

('o', 'o')

In [ ]:
len(mylist)

In [ ]:
x=list(range(1,11))
x

In [79]:
glist

['Bread', 'Milk', 'Cookies']

In [80]:
# adding more items by making new list
glist += ["Pasta", "Cereal", "Water"] # it is same as saying glist = glist + ["Pasta", "Cereal", "Water"]
# so += is out of place , unlike mylist.append() method
glist

['Bread', 'Milk', 'Cookies', 'Pasta', 'Cereal', 'Water']

In [81]:
glist.append(["Booze", "Candy"])
glist

['Bread', 'Milk', 'Cookies', 'Pasta', 'Cereal', 'Water', ['Booze', 'Candy']]

In [82]:
glist.extend(["Beer", "Chips"]) # so extend works similarl to += it flattens the new items
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [83]:
glist.count("Pasta")

1

In [84]:
glist.index("Paste")

ValueError: 'Paste' is not in list

In [85]:
glist.index("Pasta")

3

In [86]:
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [88]:
glist.insert(4, "Tomato Sauce") # so it will insert before 5th element (with index 4)
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Tomato Sauce',
 'Cereal',
 'Tomato Sauce',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [89]:
glist[4]

'Tomato Sauce'

In [ ]:
# for large lists insert might not be very fast

In [90]:
glist.remove("No idea what to remove")

ValueError: list.remove(x): x not in list

In [92]:
glist.remove("Tomato Sauce") # we got rid of first tomatoe sauce occurence
glist

['Bread',
 'Milk',
 'Cookies',
 'Pasta',
 'Cereal',
 'Tomato Sauce',
 'Water',
 ['Booze', 'Candy'],
 'Beer',
 'Chips']

In [93]:
# You can only sort list that have same data types or types that can be compared like int and float
glist.sort() # this is in place and will be numeric, or lexicographical sort
glist

TypeError: '<' not supported between instances of 'list' and 'str'

In [94]:
glist = glist[:7]
glist

['Bread', 'Cereal', 'Cookies', 'Milk', 'Pasta', 'Tomato Sauce', 'Water']

In [95]:
glist.append("Olive Oil")
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Pasta',
 'Tomato Sauce',
 'Water',
 'Olive Oil']

In [96]:
glist.sort()
glist

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [97]:
glist.sort(reverse = True) # again sort is in place
glist

['Water',
 'Tomato Sauce',
 'Pasta',
 'Olive Oil',
 'Milk',
 'Cookies',
 'Cereal',
 'Bread']

In [98]:
new_list = sorted(glist) # so sorted is out of place, returns new sorted something
new_list

['Bread',
 'Cereal',
 'Cookies',
 'Milk',
 'Olive Oil',
 'Pasta',
 'Tomato Sauce',
 'Water']

In [46]:
glist= ["Bread", "Milk", "Cookies", "Chocolate"]
len(glist)

4

In [100]:
# Mini exercise
# give me a list of squares of names from 1 to 10 [1,4,9....,100]
results = []
# write a for loop and append something to results
for n in range(1,11):
    results.append(n**2)
print(results)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
y = [n*n for n in range(1,11)]
print(y)
# List comprehensions! A shorter way to do the above list creations 
# Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
sum(x),sum(y)

(55, 385)

In [104]:
len(x),len(y)

(10, 10)

In [105]:
min(x), min(y)

(1, 1)

In [106]:
max(x), max(y)

(10, 100)

In [ ]:
y

In [107]:
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [108]:
z=(x+y)*3 # so we create a list of (10+10 )* 3 elements

In [109]:
len(z)

60

In [ ]:
z

In [ ]:
tmp = y*2
print(tmp)

In [ ]:
len(tmp)

In [ ]:
tmp[3:18:3]

In [ ]:
25 in tmp

In [ ]:
66 in tmp

In [ ]:
"Valdis" in tmp

In [ ]:
tmp[::-1]

In [ ]:
tmp[3:98:2]

In [ ]:
len(y)

In [ ]:
dir(tmp)

In [ ]:
y

In [ ]:
y.insert(0, 33)
y

In [ ]:
# inserting before 7th element
y.insert(6, 33)
y

In [ ]:
55 in y

In [ ]:
33 in y

In [ ]:
y

In [ ]:
y.index(16)

In [ ]:
y[4]

In [ ]:
y.index(33), y[0]

In [ ]:
# y.remove(33)
y.remove(33)
y

In [ ]:
a = 5
a = a + 10
a

In [ ]:
a += 10 # same as a = a + 10
a

In [ ]:
y+=[11, -22, 66] # same as y = y + [11, -22, 66]
y

In [ ]:
y.append([11, -22, 66])
y

In [ ]:
y = y[:-3]
y

In [ ]:
newlist = sorted(y) # returns a new sorted list , keeps old list unchanged!
newlist

In [ ]:
y

In [ ]:
y.sort()
y

In [ ]:
y.reverse()
y

In [ ]:
x=y[::-1]
x

In [ ]:
x[5]

In [ ]:
z=x.pop(5)
print(x, z)

In [ ]:
x.insert(5, z)
x

In [ ]:
x.count(33)

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [ ]:
list(range(55,59))

In [ ]:
tmp

In [ ]:
tmp.count(64)
# We count occurences!

In [ ]:
tmp.count('Valdis')

In [ ]:
print(tmp.index(64))
tmp[7]

In [ ]:
?tmp.index

In [ ]:
tmp.index()

In [ ]:
len(x)

In [ ]:
[] is []

In [ ]:
[] == []

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [110]:
mylist = list(range(5,16))
mylist

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [111]:
mylist[:4]

[5, 6, 7, 8]

In [112]:
mylist[-3:]

[13, 14, 15]

In [113]:
mylist[-1:-4:-1]

[15, 14, 13]

In [114]:
sum(mylist)/len(mylist) # arithmetic average

10.0

In [115]:
groceries

['Bread', 'Milk', 'Chocolate']

In [116]:
groceries += ["Brown Bread", "Chococolate Bread", "Rye Bread"]
groceries

['Bread', 'Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [117]:
groceries = groceries[1:] # get rid of the 1st element
groceries

['Milk', 'Chocolate', 'Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [118]:
"Bread" in groceries

False

In [119]:
found_list = []
key = "Bread"
for item in groceries:
    if "Bread" in item:
        found_list.append(item)
found_list

['Brown Bread', 'Chococolate Bread', 'Rye Bread']

In [120]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk']

In [121]:
groceries.append("Silken herring") # I dont think there is such a herring ...

In [122]:
groceries

['Milk',
 'Chocolate',
 'Brown Bread',
 'Chococolate Bread',
 'Rye Bread',
 'Silken herring']

In [123]:
found_list = []
key = "ilk"
for item in groceries:
    if key in item:
        found_list.append(item)
found_list

['Milk', 'Silken herring']