#   Strings

In [1]:
mystring = "Hello"
type(mystring)

str

In [2]:
mystring # in jupyter notebooks we can output the last line to the screen without print

'Hello'

In [3]:
print(mystring)

Hello

In [4]:
# built in Unicode Support
myfriend = "Jānis"
mycat = "Ņauva"
print(myfriend,mycat)

Jānis Ņauva

In [5]:
mycat
myfriend
mystring # only the last line will be output

'Hello'

In [6]:
print(mycat)
print(myfriend)
print(mystring)

Ņauva
Jānis
Hello

## Strings
* immutable
* Unicode support


* implement all common sequence operators
https://docs.python.org/3/library/stdtypes.html#typesseq-common

* string specific methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [7]:
name = "Valdis"
print(name)

Valdis

In [8]:
len(name) # getting length of our string

6

In [9]:
name = "Voldemars"

In [10]:
len(name)

9

In [11]:
# "name" is called string literal meaning we write the string on demand
# as compared to name variable which could reference some string literal
len("name") # difference between name and "name"

4

In [12]:
len("Valdis")

6

In [14]:
name

'Voldemars'

In [13]:
# first character in your string
name[0],name[1],name[2]

('V', 'o', 'l')

In [15]:
"Valdis"[0] # we can get firt character of string literal as well

'V'

In [16]:
name[2]

'l'

In [17]:
name[5]

'm'

In [18]:
name = "Valdis" # i want my name back

In [19]:
len(name)

6

In [20]:
name[5]

's'

In [21]:
# how about getting the last character when we do not know the index of last character...?
# well then lets find out the index, but how?

In [22]:
#not a good pattern! anti-pattern a bad code smell
name[len(name)-1]

's'

In [23]:
# much shorter is this Pythonic approach
name[-1]

's'

![Google](https://developers.google.com/edu/python/images/hello.png)

In [24]:
name

'Valdis'

In [25]:
name[-2], name[4]

('i', 'i')

In [4]:
len(name)

6

In [26]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [27]:
name[-1]

's'

In [28]:
name[-2]

'i'

In [29]:
name[-6]

'V'

In [30]:
name[6]

IndexError: string index out of range

In [31]:
name[-25]

IndexError: string index out of range

In [32]:
empty = ""

In [33]:
empty[0]

IndexError: string index out of range

In [34]:
# Slicing syntax
# Start at 0 an go until but not including 3
# some languages would do with name.subslice(0,3)
name[0:3]

'Val'

In [35]:
# begginning 0 is not necessary
# so now in this notation we would not want to get character with index 3 as that would have been 4th?
name[:3]

'Val'

In [36]:
nick_name = name[:3]
nick_name

'Val'

In [37]:
name[:4]

'Vald'

In [38]:
name[1:3] # so 2nd and 3rd(with index 2) but not the 4th(with index 3)

'al'

In [39]:
name[1:4]

'ald'

In [40]:
name[-3] # rd from the end

'd'

In [42]:
name[-3:] # so all characters starting from the 3rd to the last

'dis'

In [43]:
name[-3:-1] # so from 3rd from the end but not including the very last

'di'

In [45]:
food = "Auzu putra" #oatmeal
print(food[5:10], food[5:], food[-5:]) # so what is the difference?

putra putra putra

In [49]:
food = "Auzu putra ar avenēm"
print(food[5:10], food[5:], food[-5:])  # default separator is " " for multiple values in print
print(food[5:10], food[5:], food[-5:], sep=" || ")
print(food[5:10], food[5:], food[-5:], sep="\n") # sep we set to nondefault newline

putra putra ar avenēm venēm
putra || putra ar avenēm || venēm
putra
putra ar avenēm
venēm

In [50]:
print(name, mycat, sep="-\o/-") # i can press shift-tab on print and will get documentation

Valdis-\o/-Ņauva

In [ ]:
# so we can use single index for single characters
# [start:beg] for range of characters
# [starg:beg:step] for jumping over characters

In [51]:
name[0:6:2], name[:6:2],name[::2] # all the same as long as we have 6 character long string

('Vli', 'Vli', 'Vli')

In [52]:
name = "Valdis Saulespurens"
name[0:6:2], name[:6:2],name[::2]

('Vli', 'Vli', 'Vli alsues')

In [53]:
name, name[0:6:1], name[::] # the last two not very useful for strings

('Valdis Saulespurens', 'Valdis', 'Valdis Saulespurens')

In [54]:
food = "potatoes"
food[::2]

'ptte'

In [55]:
food[1::2] # so here we start with 2nd character(index 1) and the print every 2nd one after

'oaos'

In [56]:
food[1:6:2] # here we stop before our food is finished by specifying we only want to go until 6th character

'oao'

In [57]:
name[::1]

'Valdis Saulespurens'

In [58]:
name[1:6:2]

'ads'

In [59]:
name[:5]

'Valdi'

In [ ]:
# Pythonic way of reersing a string

In [60]:
name[::-1] # so it like stepping backwards

'snerupseluaS sidlaV'

In [53]:
food[::-1]

'seotatop'

In [62]:
reversed_food = food[::-1] # so if we want to save results in memory we need to save these new strings as references
reversed_food

'seotatop'

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [64]:
myfood = "mashed potatoes"
myfood[2] # so 3rd letter will have index 2 because we start at 0...

's'

In [65]:
myfood[:2]

'ma'

In [66]:
myfood[-3:] # Output last 3 letters of your favorite

'oes'

In [67]:
myfood[::-1]

'seotatop dehsam'

In [68]:
myfood[::-2] # Output every 2nd character of your favorite in reverse

'soao esm'

In [37]:
food[4::-1]

'utrak'

In [38]:
name[5:2:-1]

'sid'

In [ ]:
# Remember stings are immutable, so how do we change them

In [69]:
name[3]='b'

TypeError: 'str' object does not support item assignment

In [70]:
#name[3]="b" # Can we do this?
newname=name[:3]+"z"+name[4:] # we create a new string out of substrings of the old string and we can insert some letters as well
print(newname)

Valzis Saulespurens

In [71]:
# so an answer is string concatenation with +
mycat = "kaķis" + " Muris"  # notice the space before M , that is important
mycat

'kaķis Muris'

In [72]:
len(mycat)

11

In [73]:
n=name # this is just shortcut/alias to the same string (not the variable)
n2=name
print(n2)
print(id(n2),id(name), id(n)) # this shows the memory address (virtual) of where our string resides, it in fact the same string
print(name[:])

Valdis Saulespurens
1835996948880 1835996948880 1835996948880
Valdis Saulespurens

In [74]:
name == n2

True

In [75]:
name == newname[:3] + 'd' + newname[4:]

True

In [76]:
newname[:3] + 'd' + newname[4:]

'Valdis Saulespurens'

In [80]:
name = "Voldemars" # now name is pointing to different string
print(n,n2,name, sep=" ::: ")

Valdis Saulespurens ::: Valdis Saulespurens ::: Voldemars

In [47]:
n2 = "Something"

In [48]:
name=name[::-1]
print(name)

sramedloV

# How about multiline strings?

In [81]:
newline_string ="firstline\nsecondline" # so we need to insert special characters with \
print(newline_string) # print is for end users sort of pretty print

firstline
secondline

In [82]:
newline_string # without print we will actually see the special character,

'firstline\nsecondline'

In [74]:
# in Python single and double quotes work the same way, you just need a matching pair

## When do we use " and when do we use ' 
### Answer: whichever is more convenient

In [83]:
quote = "Alice told the rabbit 'go down the hole' and rabbit complied"
print(quote)

Alice told the rabbit 'go down the hole' and rabbit complied

In [84]:
# we could do the same with escape character
quote = "Alice told the rabbit \"go down the hole\" and rabbit complied"
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

In [85]:
quote = 'Alice told the rabbit "go down the hole" and rabbit complied'
print(quote)

Alice told the rabbit "go down the hole" and rabbit complied

## What do we do if we want both " and ' inside but do not want to use escape \ ?

In [86]:
multi_string = """Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on \"\"\"
String"""
# so we can write whatever inside as long as we do not write """
print(multi_string)

Really
Long
And
Boring
    With Taba and maybe 'quote something' and even use double quotes "for talking" and so on """
String

In [82]:
mytext = 'Just a quote'
mytext

'Just a quote'

In [83]:
myquote = 'They said "It was a long and stormy night" ending the story'
myquote

'They said "It was a long and stormy night" ending the story'

In [84]:
myquote = "Another quote\"Stormy night\" continuing the story"
myquote

'Another quote"Stormy night" continuing the story'

## list of all escape characters in Python
https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals

In [87]:
"Valdis" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# the answer is casting number to string beforehand

In [88]:
"Valdis " + str(5),"Valdis " + '5'

('Valdis 5', 'Valdis 5')

In [89]:
a=10
t="Talk "+str(a)
print(t)

Talk 10

In [90]:
t = "Talk "+"10"
print(t)

Talk 10

In [91]:
str(555)

'555'

In [58]:
id('25'),id(25) # two different types one is a string one is an integer , so stored in two different places in memory

(2814172811480, 140711459395136)

In [92]:
'25'+'45',25+45

('2545', 70)

In [93]:
int('345') # from string to integer but can throw errors

345

In [94]:
int("70")

70

In [95]:
int('70')

70

In [ ]:
?str

In [96]:
much_beer = "Beer"*5 # i can multiple strings this could come in handy in homework #1
much_beer

'BeerBeerBeerBeerBeer'

In [97]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [98]:
print("It's \ta \"wonderful\" \nlife") # back to string escaping

It's 	a "wonderful"
life

In [99]:
# How to print a line which does not fit in a single line
print('Really really long line\
   mVW')

Really really long line   mVW

In [100]:
print('Alice said "hello"')

Alice said "hello"

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [101]:
newstr = f"2+2={2+2} nice isn't {name[::-1]*3}" # so whatever is in curly braces(moustache) will be evaluated and formatted
newstr

"2+2=4 nice isn't sramedloVsramedloVsramedloV"

In [102]:
a = 5
b = 10
print(f"{a}+{b}={a+b}") # so fstrings let us not worry about str(5) and so on

5+10=15

In [103]:
print(newname)

Valzis Saulespurens

In [104]:
print(f"{newname[:3]}d{newname[4:]}")

Valdis Saulespurens

In [105]:
# if i wanted to save my fixed name then i'd need a new variable(or rewrite old one)
fixed_name = f"{newname[:3]}d{newname[4:]}"
fixed_name

'Valdis Saulespurens'

In [107]:
# actual real usage
weekday="Thursday"
month="March"
day=4
greeting = f"Today is {day}th of {month} which is {weekday}. Nice {month} isn't it ? "
print(greeting)
#nicer than format method

Today is 4th of March which is Thursday. Nice March isn't it ?

In [ ]:
# notice how I did not have to cast 13 to str(13) in the above example

In [108]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=4 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{9}.{6}} seconds since start of new era')
print(f'Number {75556.2222:{12}.{8}}')

Elapsed 345.24556 seconds since start of new era
Elapsed                            345.2 seconds since start of new era
Elapsed   345.246 seconds since start of new era
Number    75556.222

In [109]:
myresult = f"0.1+0.2={0.1+0.2:{4}.{4}}"
myresult

'0.1+0.2= 0.3'

In [109]:
greeting[10:33:1] # you can always get a slice from a string

'3th of October which is'

In [110]:
my_hello = f"Hello {name}, nice day isn't day for a walk?"
print(my_hello)

Hello Voldemars, nice day isn't day for a walk?

### Python 3.X strings are Unicode by default no more 'u prefixes

# String Methods

In [111]:
myfood

'mashed potatoes'

In [112]:
bigfood = myfood.capitalize() # i pressed tab after . and saw all kind of methods I can apply to my string
bigfood

'Mashed potatoes'

In [113]:
myfood

'mashed potatoes'

In [113]:
myfood.capitalize() # note that capitilize DOES NOT change the string, it makes a new one

'Porridge'

In [114]:
myfood.upper()

'MASHED POTATOES'

In [115]:
myfood.title() # so capitalize each word

'Mashed Potatoes'

In [116]:
myfood.lower()

'mashed potatoes'

In [117]:
city = "      Riga is a great city isn't it?     "
city

"      Riga is a great city isn't it?     "

In [118]:
city.strip() # so strips whitespace from BOTH sides

"Riga is a great city isn't it?"

In [119]:
city.lstrip()

"Riga is a great city isn't it?     "

In [120]:
city.rstrip()

"      Riga is a great city isn't it?"

In [121]:
# count the number of occurences in a string
myfood.count('t')

2

In [122]:
myfood.count('ash')

1

In [123]:
myfood.count('a')

2

In [124]:
# if you just want to check whether there are any specific characters in your string
'u' in myfood

False

In [125]:
'o' in myfood

True

In [126]:
'pot' in myfood

True

In [127]:
'C' in myfood

False

In [128]:
# we can check for substring in our string
'rid' in myfood

False

In [129]:
# we can check for substring in our string
'put' in bigfood

False

In [130]:
'somethinglongthatisnot' in myfood

False

In [131]:
# find first index of where the substring starts in our string
# remember we count from 0!
myfood.index('o')

8

In [132]:
myfood[8], myfood[myfood.index('o')]

('o', 'o')

In [133]:
myfood.index('dafda')  # will be error

ValueError: substring not found

In [ ]:
# so find will be a good alternative if you do not want errors

In [134]:
myfood.find('notfound') # so find gives you -1 if not found while index gives you error if not found

-1

In [135]:
myfood.find('ot')

8

In [136]:
myfood[myfood.find('ot'):] # so find where substring starts and give me the rest of the string

'otatoes'

In [129]:
myfood.upper()

'PORRIDGE'

In [130]:
name[0:6:1]

'Valdis'

In [131]:
name.lower()

'valdis'

In [137]:
name.isdecimal()

False

In [138]:
"55555".isdecimal()

True

In [139]:
name.endswith("s")

True

In [140]:
name

'Voldemars'

In [141]:
name.startswith("Vold")

True

In [ ]:
# ourstring. then use Tab to see what functions/methods are available
# methods/functions use parenthesis "Valdis".upper()

# What about looping through our strings?

In [143]:
name = "Valdis"
for c in name: # c is just a name for our variable, you can use different name 
    print(c)
    print(c.upper())
    print(f"Letter {c=}") # this is new to python 3.8+ so will not work on python 3.7

V
V
Letter c='V'
a
A
Letter c='a'
l
L
Letter c='l'
d
D
Letter c='d'
i
I
Letter c='i'
s
S
Letter c='s'

In [137]:
print(f"My variable {name=}")

My variable name='Valdis'

In [144]:
'a' > 'b'

False

In [145]:
'c' < 'd'

True

In [ ]:
# tiny practice 
# print only letters in your name less than "i" and make them uppercase

In [146]:
limit = "i"
result = "" # we will build up a string 
print(f"Our {limit=} code is {ord(limit)}")
for c in name:
    print(f"{c=} code is {ord(c)}")
    if c.lower() < limit:
        print(c)
        # result = result + c # same as below shorter version
        result += c.upper() # here we rebuild a string by adding character to the end and making a new string
        # it is same as saying result = result + c, we make a new string overwriting the old one
        # for very long strings this could get pretty slow ( i am talking huuuge strings)
result

Our limit='i' code is 105
c='V' code is 86
c='a' code is 97
a
c='l' code is 108
c='d' code is 100
d
c='i' code is 105
c='s' code is 115

'AD'

In [147]:
print(result)

AD

In [148]:
result.upper()

'AD'

In [149]:
mycity = "    Riga \t\n "
mycity

'    Riga \t\n '

In [150]:
clean_city = mycity.strip() # so whitespace are any non character symbols
clean_city

'Riga'

In [148]:
myfood = "chocolate ice cream sunday"
myfood

'chocolate ice cream sunday'

In [149]:
myfood.capitalize(), myfood.title()

('Chocolate ice cream sunday', 'Chocolate Ice Cream Sunday')

In [151]:
min(name)

'V'

In [152]:
max(name) #the character with the highest ASCII value in the string

's'

In [153]:
# if i wanted to find smaller or largest characters in my string without worrying about case then just convert first
min(name.upper())

'A'

In [154]:
max(name.upper())

'V'

In [155]:
min(myfood) # space has code 32

' '

In [156]:
ord(' ')

32

In [153]:
max(myfood)

'y'

In [157]:
myfood

'mashed potatoes'

In [158]:
my_franken_food = myfood.replace('a', 'y')
my_franken_food

'myshed potytoes'

In [160]:
my_franken_food = myfood.replace('m', 'Sm') # ireplaced in the original..
my_franken_food

'Smashed potatoes'

In [162]:
my_franken_food.swapcase()

'sMASHED POTATOES'

In [163]:
for i, c in enumerate(name): #so we use enumerate when we need the number in our sequence
    print(f"Character No. {i} is {c}")

Character No. 0 is V
Character No. 1 is a
Character No. 2 is l
Character No. 3 is d
Character No. 4 is i
Character No. 5 is s

In [164]:
for i, c in enumerate(name, start=1): #so we use enumerate when we need the number in our sequence
    print(f"Character No. {i} is {c}")

Character No. 1 is V
Character No. 2 is a
Character No. 3 is l
Character No. 4 is d
Character No. 5 is i
Character No. 6 is s

In [165]:
# so exercise would be to ask for user input(text)
# then show this text as **** ***** - meaning only * are where letters are

# as a similar example I will show you how to replace character with another
txt = input("Enter Text")
new_txt = ""
for c in txt:
    if c < "f": # so we will do somethign special with letters less than "f"
        new_txt += c.upper()
    else:
        new_txt += c
        
new_txt

Enter Textsomething run over my alien cat

'somEthing run ovEr my AliEn CAt'