In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",sep="\t")
df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1613
1  tt0000002            6.0       197
2  tt0000003            6.5      1292
3  tt0000004            6.1       121
4  tt0000005            6.1      2067

In [4]:
df.describe()

       averageRating      numVotes
count   1.041611e+06  1.041611e+06
mean    6.876980e+00  9.603959e+02
std     1.402595e+00  1.587479e+04
min     1.000000e+00  5.000000e+00
25%     6.100000e+00  9.000000e+00
50%     7.100000e+00  2.000000e+01
75%     7.800000e+00  7.800000e+01
max     1.000000e+01  2.239484e+06