In [1]:
import pandas as pd

In [3]:
url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
# notice how we can specify some parameters in the url - so called pretty URLs

In [4]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [5]:
len(dfs) # why list and why such length ?
# well ss.com was made in early 2000s when tables were used for everything

7

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [6]:
df = dfs[4] # the 5th table on our page has our info, remember we have Python with 0 based indexing
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"Фасадный вход с ул. Гертрудес, окна выходят на...",Ģertrūdes 26,2,49,2/6,P. kara,"2,245 €","110,000 €"
1,NaN,NaN,"Tiek pārdots brīnišķīgs, moderns 3-istabu dzīv...",Grostonas 21,3,98,4/8,Jaun.,"2,347 €","230,000 €"
2,NaN,NaN,Pērkot dzīvokli - virtuves iekārta dāvanā. Ēka...,Stabu 100,4,103,4/7,Jaun.,"2,059 €","212,100 €"
3,NaN,NaN,Pērkot dzīvokli - virtuves iekārta dāvanā. Ēka...,Stabu 100,4,82,3/7,Jaun.,"2,098 €","172,000 €"
4,NaN,NaN,Pārdodam skaistu trīsistabu dzīvokli centrā. I...,Dzirnavu 115,3,71,4/4,P. kara,"1,620 €","115,000 €"

In [7]:
df.shape

(30, 10)

In [8]:
df.to_json("center.json")

In [9]:
df.to_excel("center.xlsx")

In [10]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [11]:
dflist = pd.read_html(url2, header=0) # web scraping happens here
len(dflist)

7

In [12]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Pārdodas telpas ar remontu Rīgas darījumu cent...,Valdemāra 39,3,82,1/5,P. kara,973 €,"79,800 €"
1,NaN,NaN,"Dizainera veidota apdare, pilnībā mēbelēts, st...",Sadovņikova 23,3,77,5/6,P. kara,"2,273 €","175,000 €"
2,NaN,NaN,"Izremontēts dzīvoklis Klusajā centrā, skaistāk...",Alberta 7,6,173,4/6,P. kara,"2,630 €","455,000 €"
3,NaN,NaN,Tiek pārdots vienistabas dzīvoklis renovētā na...,Blaumaņa 9A,1,33,1/6,Renov.,"1,545 €","51,000 €"
4,NaN,NaN,Nepalaid garām iespēju iegādāties dzīvokli ren...,Avotu 4,1,18,1/5,Renov.,"1,874 €","33,730 €"

In [12]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,3 istabu dzīvoklis Viktora Štama projektētā jū...,Gogoļa 10,3,70,2/5,P. kara,"1,257 €","88,000 €"
1,NaN,NaN,Laba cena par dzīvokli izcilā vietā. Panorāmas...,Teātra 12,5,136,6/7,P. kara,"2,022 €","275,000 €"
2,NaN,NaN,"Izbaudiet Rīgas pilsētas dzīvi, atrodoties tās...",Dzirnavu 83,2,68,6/7,Jaun.,"3,750 €","255,000 €"
3,NaN,NaN,"Наслаждайся прелестями городской жизни, находя...",Dzirnavu 81,3,90,4/7,Jaun.,"3,167 €","285,000 €"
4,NaN,NaN,"Продается просторная, солнечная с изолированны...",Zaļā 4,3,94,7/7,Specpr.,"1,649 €","155,000 €"

In [13]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [14]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)

In [15]:
last_page = 25
def get_url_list(prefix="https://www.ss.com/lv/real-estate/flats/riga/centre/sell/", last_page = last_page):
    url_list = [prefix] # we always start with the prefix page
    for n in range(2,last_page+1):
        url_list.append(f"{prefix}page{n}.html")
    return url_list

In [16]:
my_urls = get_url_list()
my_urls[:5]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html']

In [17]:
my_urls[-5:]

['https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html',
 'https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html']

In [18]:
import time # we need a slight delay otherwise page owner might get annoyed

In [19]:
all_dfs = []
for url in my_urls:
    print(f"Scraping {url}")
    dflist = pd.read_html(url, header=0)
    all_dfs.append(dflist[4]) # remember these pages the 5th table is the one we want
    time.sleep(1.5) # we want at least a few hundred milliseconds delay in this case using 1.5 seconds

Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page3.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page4.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page5.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page6.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page7.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page8.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page9.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page10.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page11.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page12.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page13.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page14.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page15.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page16.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page17.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page18.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page19.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page20.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page21.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page22.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page23.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page24.html
Scraping https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page25.html

In [20]:
all_dfs[17].head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Pārdošanā četru istabu dzīvoklis ar praktisku ...,Maskavas 48,4,66,3/4,Renov.,"1,894 €","125,000 €"
1,NaN,NaN,Divistabu dzīvoklis Rīgas centrā ar skatu uz D...,Maskavas 48,2,31,2/6,Renov.,"2,194 €","68,000 €"
2,NaN,NaN,Divistabu dzīvoklis Rīgas centrā. Mājoklis tie...,Maskavas 48,2,41,3/6,Renov.,"1,951 €","80,000 €"
3,NaN,NaN,Studijas tipa vienistabas dzīvoklis Rīgas cent...,Maskavas 48,1,21,1/6,Renov.,"2,143 €","45,000 €"
4,NaN,NaN,Pārdod kompaktu 4 istabu dzīvokli Rīgas Centrā...,Valdemāra 24,4,87,2/5,P. kara,"1,782 €","155,000 €"

In [21]:
len(all_dfs)

25

In [26]:
bigdf = pd.concat(all_dfs, ignore_index=True)
bigdf.shape

(749, 10)

In [27]:
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"(Eng) Beautiful, high-status property in a pri...",Dzirnavu 60,3,118,4/5,Renov.,"1,907 €","225,000 €"
1,NaN,NaN,"Фасадный вход с ул. Гертрудес, окна выходят на...",Ģertrūdes 26,2,49,2/6,P. kara,"2,245 €","110,000 €"
2,NaN,NaN,"Tiek pārdots brīnišķīgs, moderns 3-istabu dzīv...",Grostonas 21,3,98,4/8,Jaun.,"2,347 €","230,000 €"
3,NaN,NaN,Pērkot dzīvokli - virtuves iekārta dāvanā. Ēka...,Stabu 100,4,103,4/7,Jaun.,"2,059 €","212,100 €"
4,NaN,NaN,Pērkot dzīvokli - virtuves iekārta dāvanā. Ēka...,Stabu 100,4,82,3/7,Jaun.,"2,098 €","172,000 €"

In [28]:
bigdf.tail()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
744,NaN,NaN,"Pārdod pilnībā aprīkotu, plašu un mājīgu 3 ist...",Matīsa 58,3,90,2/3,P. kara,"1,278 €","115,000 €"
745,NaN,NaN,Pārdod gaišu un mūsdienīgu divistabu dzīvokli ...,Katrīnas d. 20a,2,56,3/5,P. kara,"1,518 €","85,000 €"
746,NaN,NaN,Elegants četru istabu dzīvoklis Rīgas centrā a...,Artilērijas 6A,4,140,1/3,Renov.,"2,071 €","290,000 €"
747,NaN,NaN,Tiek pārdots trīsistabu dzīvoklis pašā pilsēta...,Pulkv. Brieža 35,3,73,3/7,Jaun.,"2,315 €","169,000 €"
748,NaN,NaN,Dzīvoklis Klusajā centrā rekonstruētajā vēstur...,Valdemāra 37,3,111,6/6,Renov.,"2,593 €","287,820 €"

In [29]:
bigdf.to_excel("all_center.xlsx")